<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <dd> {{ name }} </dd>

  <td>Edad:</td>
  <dd> {{ age }} </dd>

  <td>Método:</td>
  <dd> {{ getHeroDescription() }} </dd>

  <td>Capitalizado:</td>
  <dd> {{ capitalizeName }}</dd>
</dl>

<button class="btn btn-primary mx-2" (click)="changeHero()" *ngIf="name !== 'Spiderman'">
  Cambiar nombre
</button>

<button class="btn btn-primary mx-2" (click)="changeAge()" *ngIf="age !== 22">
  Cambiar edad
</button>

<button class="btn btn-primary mx-2" (click)="resetForm()">
  Reset form
</button>
